{%  extends "base/base.html" %}

{% load staticfiles %}

{% block appJavascript %}
    <!--Google map library-->
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCjub9cnpD_-Ptry-nxERgKVU-AD5MQM0w"
            xmlns="http://www.w3.org/1999/html" xmlns="http://www.w3.org/1999/html"></script>
    <script src="{% static "directions/js/directions.js" %}"></script>
{% endblock %}

{% block appStylesheet %}
    <link rel ="stylesheet" type="text/css" href="{% static "directions/style/directions.css" %}" />
{% endblock %}

{% block body %}
    <!--Map where the store is on the lower left side of the page-->
    <div id="storeMap" class="storeMap"></div>
    <!--Directions form on the lower right side of the page-->
    <div class="directionsFormHolder">
        <h2>Enter Address to Receive Directions</h2>
        <form class="directionsForm">
            <!--Check for CSRF attack-->
            {% csrf_token %}
            <div class = "formRow">
                <!--row for each form <label><input> set-->
                {% for field in form %}
                    {{ field.label_tag }}{{ field }}
                {% endfor %}
            </div>
            <input type="button" class="attemptCalculation" value="Find Route" />
            <!--Error section below the directions form-->
            <p class="directionsError"></p>
        </form>
    </div>
    <!--Directions result on the bottom portion of the page-->
    <div id="directionsResult" class="directionsResult"></div>
    <div><button class="printDirections">Print Directions</button></div>
{% endblock %}
