/**
 * Style data for the hours application
 */

@evenRowColor: white;
@oddTextColor: white;
@oddRowColor: #ff1ae7;
@evenTextColor: #ff1ae7;

.hoursContainer {
  position: relative;
  left: 5%;
  width: 90%;
}

.dayOfWeek, .hoursForDay {
  width: 50%;
  height: 30px;
  padding-top: 10px;
  margin: 0;
  text-align: center;
}

.dayOfWeek {
  float: left;
}

.hoursForDay {
  float: right;
}

.even > .dayOfWeek, .even > .hoursForDay {
  color:@evenTextColor;
  background-color:@evenRowColor;
}

.odd > .dayOfWeek, .odd > .hoursForDay {
  color: @oddTextColor;
  background-color:@oddRowColor;
}
