<!doctype html>
<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
        <title>
            New Appearances Salon Django Test Server
        </title>

        {% load staticfiles %}

        <link rel="icon" type="image/png" href="{% static "base/images/scissors.png" %}" />

        <!--Required CSS-->
        <link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/jqueryui/1.11.3/themes/smoothness/jquery-ui.css" />
        <link rel ="stylesheet" type="text/css" href="{% static "base/style/base.css" %}" />
        {% block appStylesheet %}
        {% endblock %}

        <!--Required JS-->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.11.3/jquery-ui.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.9.0/moment.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-cookie/1.4.1/jquery.cookie.min.js"></script>
        <script src="{% static "base/js/base.js" %}"></script>
        {% block appJavascript %}
        {% endblock %}
    </head>
    <body>
        <!--Header-->
        <div class ="header" id="templateHeader">
            <h1 id="headerText">
                New Appearances Hair Salon
            </h1>
        </div>
        <!--Nav Bar-->
        <div class ="navBar" id="navBarContainer">
            <nav>
                <ul>
                    <li><a class="buttonLink" href="/home">Home</a></li>
                    <li><a class="buttonLink" href="/services">Services</a>
                        <ul>
                            <li><a class="buttonLink" href="/services/haircuts">Haircuts</a></li>
                            <li><a class="buttonLink" href="/services/colors">Colors</a></li>
                            <li><a class="buttonLink" href="/services/straightening">Straightening</a></li>
                            <li><a class="buttonLink" href="/services/skincare">Skincare</a></li>
                            <li><a class="buttonLink" href="/services/perms">Perms</a></li>
                        </ul>
                    </li>
                    <li><a class="buttonLink" href="/products">Products</a></li>
                    <li><a class="buttonLink" href="/hours">Hours</a></li>
                    <li><a class="buttonLink" href="/directions">Directions</a></li>
                    <li><a class="buttonLink" href="/contact">Contact</a></li>
                </ul>
            </nav>
        </div>
        <!--Inherited Content-->
        <div class = "content" id="templateContent">
            {%  block body %}
            {%  endblock %}
        </div>
        <!--Footer-->
        <div class = "footer" id="templateFooter">
            <a href="http://www.facebook.com/pages/New-Appearances/136050426486694" target="_blank" class="facebookContainer">
                <img src="{%  static "base/images/FindUsOnFacebook.png" %}" alt="Find us on Facebook" class="facebookLink">
            </a>
            <p class="addressStatic">530 Burmont Road <br />
                Drexel Hill<br />
                PA 19026
            </p>
            <p class="number">(610) 284-9400</p>
        </div>
    </body>
</html>
