{%  extends "base/base.html" %}

{% load staticfiles %}

{% block appJavascript %}
<script src = "{% static "products/js/products.js" %}" ></script>
{% endblock %}

{% block appStylesheet %}
<link rel="stylesheet" type="text/css" href="{% static "products/style/products.css" %}" />
{% endblock %}

{% block body %}
    <div class="brands">
    <!--Load all images as img elements-->
        {% for image in brandImages %}
            <img id="brand{{image.brand_name}}"
                 src="{{image.brand_logo.url}}"
                 alt="{{image.alt}}"
                 height={{image.brand_logo.height}}
                 width={{image.brand_logo.width}}   />
            <!--If products exist create a dialog div for them  -->
            {% if image.products.all %}
                <div id="brand{{image.brand_name}}Dialog" class="brandProduct">
                    <!--Load the Dialog with products-->
                    {% for product in image.products.all %}
                        <div class="productLink">
                            <p><a href="{{product.product_link }}" target="_blank">
                                {{ product.product_name }}
                            </a></p>
                        </div>
                        <div class="productPrice">
                            <p>
                                {{ product.product_price }}
                            </p>
                        </div>
                    {% endfor %}
                </div>
            {%  endif %}
        {% endfor %}
    </div>
{% endblock %}