{% extends "base/base.html" %}

{% load staticfiles %}

{% block appStylesheet %}
    <link rel ="stylesheet" type="text/css" href="{% static "services/style/services.css" %}" />
{% endblock %}

{% block body %}
    <h2>{{ category }}</h2>
    {% if category == "Colors" %}
        <!--Colors special Note-->
        <h3>All Blowout With Color Add $10</h3>
    {% endif %}
    <div class="servicesContainer">
        <!--Print service name and corresponding price in a row and change class every other row for styling-->
       {% for service in service_list %}
            {% if forloop.counter|divisibleby:2 %}
                <div class="even">
            {% else %}
                <div class="odd">
            {% endif %}   
                    <p class="serviceName">{{ service.service_name }}</p>
                    <p class="servicePrice">{{ service.price_str }}</p>
                    {% for note in service.sub_services.all %}
                        <div class = "subText">
                            <small class="serviceName">{{ note.text }}</small>
                            <small class="servicePrice"></small>
                        </div>
                    {% endfor %}
               </div>      
       {% endfor %}
    </div>
    {% if category == "Haircuts" %}
        <!--Haircuts special Note-->
        <h3>Flat Iron Straightening Add $10</h3>
    {% endif %}
{% endblock %}
